# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Env
.env
node-bot/.env

# DB
*.db
*.sqlite3
node-bot/data.json
node-bot/test-data.json

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
